<% include partials/header %>


<div class="container-fluid">
        
        <div class="lin">
        <br><br><br><br><br><h1>Sign in!</h1>
        <form action="/login" method="post">
        <input class="un" type="text" name="username" placeholder="User Name"><br><br>
        <input class="p" type="password" name="password" placeholder="Password"><br><br>
        <input type="submit" value="Login" class="btn btn-success">
    </div>    
    
    </div>

</form>






<% include ./partials/footer %>