
<% include ../partials/header %>
<div class="container">
<header class="jumbotron">
<h1> Welcome to Hermes Might </h1>
<div class="container">
<p>Available playgrounds around you</p>
<p>
<a href="/campgrounds/new" class="btn btn-primary btn-large">Add Your own Playground</a>
<% if(currentUser.role=="superadmin"){  %>
	<a href="/user/all" class="btn btn-primary btn-large">Edit Users</a>
	<a href="/campground/all" class="btn btn-primary btn-large">Verify Campgrounds</a>
	<a href="/booking/all" class="btn btn-primary btn-large">Check Booking request</a>
	<% } %>	
</p>
</div>
</header>



<div class="row" style="display:flex; flex-wrap: wrap;">
<% grounds.forEach(function(campground){%>
<div class="col-md-3 col-sm-6">
<div class="thumbnail">



		<img class="tphoto" src="<%= campground.image %>" >
		<div class="caption">
		<h4><%= campground.name %><h4>
		<p>
		<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
		 </p>
		</div>
</div>
</div>


<% }) %>

</div>
</div>

<% include ../partials/footer %>
